.card {
  background: #eef1ff !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 340px;
  padding-bottom: 2rem !important;
  text-align: center;
  align-items: center;
  padding-top: 2rem !important;
  border-radius: 1rem;
}
